<footer class="footer">
    <span>&copy; {{ year }} <a href="{{ site.BaseURL }}">{{ site.Title }}</a></span>
    <span style="display:inline-block;margin-left:1em;">Built with <a href="https://go.dev" rel="noopener noreferrer" target="_blank">Go<span class="sr-only">(opens in new tab)</span></a></span>
</footer>

<a href="#top" aria-label="go to top" title="Go to Top" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor" aria-hidden="true">
        <path d="M12 6H0l6-6z"/>
    </svg>
</a>
