<style>
    #icons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    #icons .item {
        width: 80px;
        height: 50px;
        margin: 10px;
    }

    #icons .item .name {
        font-size: 12px;
        user-select: all;
        text-align: center;
    }

    #icons .item .icon {
        display: flex;
        justify-content: center;
    }

    #icons .item svg {
        width: 30px;
        height: 30px;
    }
</style>

<!-- Cal floating-popup embed code begins -->
<!-- <script type="text/javascript">
(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", {origin:"https://cal.com"});

Cal("floatingButton", {"calLink":"akshat2602","buttonText":"Setup a meet","buttonColor":"#44475a","buttonTextColor":"#ffffff"});
Cal("ui", {"theme":"dark","styles":{"branding":{"brandColor":"#44475a"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script> -->
<!-- Cal floating-popup embed code ends -->