{{ with .page }}
<meta property="og:title" content="{{ $.pageTitle }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <meta property="article:section" content="{{ .Section }}" />
  {{ with .PublishDate }}<meta property="article:published_time" content="{{ .Format $iso8601 }}" />{{ end }}
  {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format $iso8601 }}" />{{ end }}
  
  {{ $opts := dict
    "color" "#F8F8F2"
    "size" 52
    "linespacing" 2
    "x" 87
    "y" 315
  }}

  {{ $text := $.ogTitle }}
  {{ $img := resources.Get "images/og_base.png" }}

  {{ if $img }}
    {{ $filter := images.Text $text $opts }}
    {{ with images.Filter $filter $img }}
      {{ $filteredImg := . }}
      {{ $slug := $.RelPermalink }}
      {{ $outputPath := path.Join $slug "og.png" }}
      {{ $copiedImg := resources.Copy $outputPath $filteredImg }}

      <meta property="og:image" content="{{ $copiedImg.Permalink }}">
      <meta property="og:image:width" content="{{ $copiedImg.Width }}">
      <meta property="og:image:height" content="{{ $copiedImg.Height }}">
      <meta name="twitter:image" content="{{ $copiedImg.Permalink }}">
    {{ else }}
      <meta name="og:image" content="/default-og-image.png">
    {{ end }}
  {{ else }}
    <meta name="og:image" content="/default-og-image.png">
  {{ end }}


  <!-- Twitter metadata (used by other websites as well) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description"
      content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
{{- end -}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}
  {{- range . }}
    <meta property="og:video" content="{{ . | absURL }}" />
  {{- end }}
{{- end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := site.Taxonomies.series }}
{{- with .Params.series }}
  {{- range $name := . }}
    {{- $series := index $siteSeries ($name | urlize) }}
    {{- range $page := first 6 $series.Pages }}
      {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- end -}}

{{- if .IsPage -}}

{{ end }}
