{{- $pageurl := .Permalink }}
{{- $title := .Title }}
{{ $icons := .Site.Data.svg.icons }}

{{- $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{- $hashtags := newScratch}}
{{- range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end -}}

{{- $custom := false }}
{{- $ShareButtons := (.Param "ShareButtons")}}
{{- with $ShareButtons }}{{ $custom = true }}{{ end }}

<div class="share-buttons">
    {{- if (cond ($custom) (in $ShareButtons "twitter") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on twitter"
        href="https://twitter.com/intent/tweet/?text={{ $title }}&amp;url={{ $pageurl }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
        <div class="social-icons">
                {{ safeHTML (index $icons "twitter-x" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "linkedin") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $pageurl }}&amp;title={{ $title }}&amp;summary={{ $title }}&amp;source={{ $pageurl }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "linkedin" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "reddit") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on reddit"
        href="https://reddit.com/submit?url={{ $pageurl }}&title={{ $title }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "reddit" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "facebook") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on facebook"
        href="https://facebook.com/sharer/sharer.php?u={{ $pageurl }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "facebook" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "whatsapp") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on whatsapp"
        href="https://api.whatsapp.com/send?text={{ $title }}%20-%20{{ $pageurl }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "whatsapp" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "telegram") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on telegram"
        href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $pageurl }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "telegram" | default $icons.default) }}
        </div>
    </a>
    {{- end }}

    {{- if (cond ($custom) (in $ShareButtons "hackernews") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="submit {{ $title | plainify }} to Hacker News"
        href="https://news.ycombinator.com/submitlink?u={{ $pageurl }}&t={{ $title }}">
        <div class="social-icons">
                {{ safeHTML (index $icons "hackernews" | default $icons.default) }}
        </div>
    </a>
    {{- end }}
    
</div>
